<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="sty.css">
    <style>
      .clearfix{
         overflow: auto;
      }
   </style>
</head>
  <body>
  

    <div class="abcde clearfix"><h5 style="color:#fff;margin-left:8%;font-size: 50px;color: rgb(66, 15, 184);">TechBista</h5></div>                  
    <a href="/classTeacher" class="bnav-link bnav-link-width" style="font-size: 35px;">Add Class Teacher</a>
    <nav class="bnav">
      <div class="bnav-item">
        <a href="/studentList" class="bnav-link-active"><i class="fa fa-envelope"></i>Student</a>
      </div>
      <div class="bnav-item">
        <a href="/totalAdminClassList" class="bnav-link"><i class="fa fa-link icon"></i>Classes</a>
      </div>
       <div class="bnav-item">
        <a href="/teacherList" class="bnav-link"><i class="fa fa-laptop icon"></i>Teacher</a>
       </div>
       <div class="bnav-item">
        <a href="#" class="bnav-link"><i class="fa fa-book icon"></i>Demo</a>
      </div>
      <div class="bnav-item bnav-item-right bnav-item-click" tabindex="0">
       <h2 style="color:rgb(99, 97, 97);font-size: 31px;font-weight: 500;">More</h2>
         <ul class="bnav-submenu">
           <li class="bnav-submenuitem">
            <a href="/studentUser" class="bnav-link bnav-link-width">Add Student</a>
           </li>
           <li class="bnav-submenuitem">
            <a href="#" class="bnav-link bnav-link-width">Subscriptions</a>
          </li>
          <li class="bnav-submenuitem">
            <a href="/classTeacher" class="bnav-link bnav-link-width">Add Class Teacher</a>
          </li>
          <li class="bnav-submenuitem">
            <a href="/totalAdminClass" class="bnav-link bnav-link-width">Create All Class</a>
          </li>
         </ul>
      </div>
    </nav>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <script src="main.js" defer></script>
       </body>
</html>
     